#map {
  height: 500px;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
